:root {
  --bg: #a89794;
  --bg2: rgba(152, 137, 134, 1);
  --acc: rgba(226, 222, 210, 0.51);

  --btn: rgba(209, 194, 183, 0.5);
  --btnsel: rgba(255, 255, 255, 1);
  --btn-lighter: rgba(0, 0, 0, 0.03);

  --text: #413b36;
  --link: rgba(87, 77, 70, 0.8);
  --due: #915840;
  --hwork: #4d6c4b;
  --read: #585883;
  --link-hover: rgba(209, 194, 183, 0.26);

  --border: rgba(0, 0, 0, 0.2);

  --br: .8rem;
}

@font-face {
  font-family: 'notcouriersansregular';
  src: url('../assets/notcouriersans.woff2') format('woff2'),
   url('../assets/notcouriersans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+00-02AF, U+011F;
}

* {
  box-sizing: border-box;
}

html {
  overflow-y: auto;
  scroll-behavior: smooth;
}

body{
  margin:0;
  /* padding:1rem; */
  background: var(--bg);
  color: var(--text);
  font-family: notcouriersansregular, monospace;
  font-weight: 200;
  /* opacity:0; */
  transition: opacity .2s ease;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

.main-wrap {
  min-height: 100vh;
  padding:1rem;
  background: var(--bg);
  /* margin-bottom: 4rem; */
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:background .3s ease-in-out;
}
/* -------------------------------------- */








/* TYPOGRAPHY
----------------------------------------- */
p, h1, h2, h3, h4, h5, h6, ol, ul {
  font-size: 1.14rem;
}

p {
  margin:0 0 1rem 0;
  padding:0;
}

h1, h2, h3 {
  font-weight: 400;
}

h1 {
  margin:0 auto;
  max-width: 60rem;
  margin-top:1rem;
  margin-bottom: 1rem;
  color: var(--link);

}

h2 {
  text-align: center;
  margin:0 0 1rem 0;
  font-size: 1rem;
  color: var(--link);
}

h3 {
  color: var(--link);
  padding-bottom: .3rem;
}

a {
  font-size: 1.1rem;
  color:inherit;
  transition: color .1s ease-in-out;
  border-radius: 4px;
  transition: background .1s ease;
}

a:hover {
  background: var(--acc);
}

.emph {
  font-style: italic;
}

.fancy {
  text-align: center;
  font-family: cursive;
  font-size: 1.55rem;
}

.na {
  text-decoration: line-through;
  color:red;
  pointer-events: none;
}

.indent {
  width:80px;
  display: inline-block;
}

.text-c {
  text-align: center;
}

xmp {
  padding:1rem;
  margin:0 auto;
  text-align: left;
  background: rgba(255, 255, 255, 0.26);
  overflow-x: scroll;
  max-width:60rem;
  font-size: .9rem;
  color: var(--text);
  font-family: fira code, monospace;
}

.proj-title {
  padding-bottom:1rem;
  margin-bottom: 1rem;
  border-bottom:2px dotted var(--border);
  /* background: green; */
  position: relative;
}

.due-date {
  position: absolute;
  left:0;
  font-size: .9rem;
  top:.12rem;
}

/* -------------------------------------- */


/* FLEX
----------------------------------------- */
.row {
  flex-direction: row;
}

.column .btn{
  border-radius: 10px;
  width:100%;
  margin:1px auto;
}

.column {
  flex-direction: column;
}
/* -------------------------------------- */



/* NAV
----------------------------------------- */

.nav-wrap {
  width:100%;
  max-width: 700px;
  z-index: 9999;
  top:0;
  left:0;
  padding:.2rem;
  transition: opacity 3s;
  margin-bottom:2rem;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.5s ease;
  width:100%;
}

.nav img {
  max-height:50px;
  /* margin:0 1rem; */
  padding:.3rem 0 .2rem 0;
}

.nav-btn {
  text-align: center;
  border-radius: var(--br);
  background: var(--btn);
  text-decoration: none;
  border:1px transparent dashed;
  margin: 1px;
  padding:.8rem .8rem .8rem .8rem;
  transition: background .1s ease-in-out,
              color .1s ease-in-out,
              border .1s ease-in-out;
}

.nav-btn:hover {
  background: var(--btn-lighter);
  border:1px var(--link) dashed;
}

.note {
  text-align: center;
  border-radius: var(--br);
  background: var(--btn);
  text-decoration: none;
  border:1px transparent dashed;
  margin: 1px;
  padding:.8rem .8rem .8rem .8rem;
  margin-bottom: 1rem;
}

/* selected link */
.sel {
  /* background: var(--btn-lighter); */
  border:1px var(--link) dashed;
}

/*
----------------------------------------- */







/* ANIMATIONS
----------------------------------------- */
@keyframes down {
  0% {background-position:  0 -200%;}
  100% {background-position:  0 0}
}

@keyframes up {
  0% {background-position:  0 200%;}
  100% {background-position:  0 0}
}

@keyframes left {
  0% {background-position:  0 0;}
  100% {background-position:  -200% 0}
}

@keyframes right {
  0% {background-position:  0 0;}
  100% {background-position:  200% 0}
}

@keyframes pulse {
  0% {transform: scale(1);}
  100% {transform: scale(1.4);}
}

@keyframes sun {
  0% {top:30%;}
  100% {top:28%;}
}

/* -------------------------------------- */






/* MEDIA QUERY
----------------------------------------- */
@media only screen and (max-width: 800px) {
  .bottom-nav {
    display: none;
  }

  .btn{
    width:49%;
  }

  .header-flex {
    display: block;
    text-align: center;
  }

  .header-flex p {
    padding-right:0;
  }
}
