* {
  box-sizing: border-box;
}

.container {
  /* 1 */
  background: lightblue;
  padding:10px;

  /* 2 */
  display:flex;

  /* 3 */
  flex-wrap:wrap;

  /* 4 */
  flex-direction:column;
  flex-direction: row;

  /* 5 */
  /* default: flex-start  */
  justify-content: center;

  /* 6 */
  height: 400px;

  /* 7 */
  /* default: stretch */
  align-items: flex-end;
  
  /* 7 */
  align-content: center;

  /* 8 */
  gap: 10px;
}

.item {
  /* 1 */
  background-color:lightgreen;
  padding:10px;
  border:1px solid;

  /* 2 */
  width:200px;
}