* {
  box-sizing: border-box;
}

.main-container {
  background:lightblue;
  height:500px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items: baseline;
}

.item {
  background:lightgreen;
  width:300px;
  text-align: center;
  border:1px solid;
}

.center-flex {
  display:flex;
  height:200px;
  justify-content: center;
  align-items: center;
}

.pink {
  background:pink;
  border:1px solid;
  padding:20px;
}