body {
  margin:0;
  background:rgb(162, 168, 218);
  animation: night-day 40s alternate linear infinite;
  max-width:100%;
  overflow: hidden;
}

.window-container {
  position: fixed;
  z-index: 999;
  /* filter: blur(10px); */
}

.window-horiz {
  position: fixed;
  height:1.5rem;
  width:100vw;
  background:rgb(179, 124, 95);
  /* background:black; */
  animation: night-day-window 40s alternate linear infinite;
}

.window-vert {
  position: fixed;
  width:1.5rem;
  height:100vh;
  background:rgb(179, 124, 95);
  /* background:black; */
  animation: night-day-window 40s alternate linear infinite;

}

.top {
  top:0;
}

.bottom {
  bottom:0;
}

.left {
  left:0;
}

.right {
  right:0;
}

.center-vert {
  left:50%;
  transform: translateX(-50%);
}

.center-horiz {
  top:50%;
  transform: translateY(-50%);
}

.sun {
  position: fixed;
  background:rgb(245, 201, 88);
  width:20vw;
  height:20vw;
  top:10%;
  /* left:7%; */
  left:50%;
  transform: translateX(-50%);
  border-radius: 50%;
  filter:blur(30px);
  animation: grow 40s infinite linear;

}

.ground {
  background:rgb(142, 181, 152);
  width:100vw;
  height:30vh;
  position: fixed;
  bottom:0;
  left:0;
  filter:blur(30px);
  animation: night-day-grass 40s alternate linear infinite;
}

.flower-wrap {
  position: fixed;
  bottom:0;
  width:100vw;
  display: flex;
  justify-content: space-between;
  filter: blur(10px);
}

.low {
  justify-content: space-around;
  bottom:-10vh;
}

.low .flower .bud {
  background:rgb(255, 115, 96);
}

.high {
  bottom:10vh;
  justify-content: space-around;
}

.high .flower .bud {
  background:rgb(255, 224, 64);
}

.flower {
  /* position: fixed; */
  /* background:red; */
  bottom:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: sway 7s infinite alternate ease-in-out;
}

.bud {
  width:10vw;
  height:6vw;
  background:rgb(117, 83, 233);
  border-radius: 50%;
  position: relative;
  top:2px;
}

.stem {
  width:1.5vw;
  height:15vh;
  background:green;
}

@keyframes sway{
  0% {
    transform: skewX(20deg);
    }
  100% {
    transform: skewX(-20deg);
  }
}

@keyframes grow{
  0% {transform: scale(.3); left:-50vw;}
  50% {transform: scale(2);}
  100% {transform: scale(.3); left:150vw;}
}

@keyframes night-day{
  0% {background:rgb(42, 44, 71);}
  10% {background:rgb(42, 44, 71);}
  30% {background:rgb(250, 202, 110);}
  40% {background:rgb(162, 168, 218);}
  60% {background:rgb(162, 168, 218);}
  70% {background:rgb(250, 202, 110);}
  90% {background:rgb(42, 44, 71);}
  100% {background:rgb(42, 44, 71);}
}

@keyframes night-day-grass{
  0% {background:rgb(41, 56, 41);}
  50% {background:rgb(126, 205, 147);}
  100% {background:rgb(41, 56, 41);}
}

@keyframes night-day-window{
  0% {background:rgb(62, 51, 45);}
  50% {background:rgb(179, 124, 95);}
  100% {background:rgb(62, 51, 45);}
}
