* {
  box-sizing: border-box;
}

body {
  background-color:#a6ccd3;
}

.responsive {
  background-color:bisque;
  padding:20px;
  width:100px;
  height:100px;
  font-size: 10px;
}

@media screen and (max-width: 900px) {
  body {
    background-color:#9ed5b1;
  }
  .responsive {
    background-color:#eff0a1;
    width:200px;
    height:200px;
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  body {
    background-color:#c4d59e;
  }
  .responsive {
    background-color:#efc2b0;
    width:300px;
    height:300px;
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  body {
    background-color:#d5c39e;
  }
  .responsive {
    background-color:#efb0e0;
    width:400px;
    height:400px;
    font-size: 40px;
  }
}