* {
  box-sizing: border-box;
}

img {
  max-width:100%;
}

body {
  background-color: gray;
  margin:0;
}

.container {
  background:lightblue;
  padding:20px;

  height:600px;

  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  align-items:center;
  align-content: center;
  gap: 20px;
}

.item {
  background: bisque;
  padding:10px;
  border:1px solid;

  width:200px;
  height:100px;

  display:flex;
  justify-content: center;
  align-items: center;
}