body {
  color:darkgreen;
  background-color: lightblue;
  max-width:600px;
  margin: 0 auto;
}

p {
  background-color:rgb(154, 139, 162);
  border: 1px solid;
  padding: 20px;
  text-align: center;
  /* height: 200px; */
}

.special {
  font-size:25px;
}

.new {
  background-color:darkkhaki;
}



p:hover {
  background-color:azure;
}

a {
  color:rgb(129, 95, 53);
  text-decoration: none;
}

a:hover {
  color:brown;
  text-decoration: line-through;
}



