* {
  box-sizing: border-box;
}

body {
  margin:0;
}

.content-box {
  background-color:coral;
  width:300px;
  height:300px;
  padding:10px;
  border:10px dashed brown;
  margin:10px;
  box-sizing:content-box;
}

.border-box {
  background-color:rgb(129, 183, 233);
  width:300px;
  height:300px;
  padding:10px;
  border:10px dashed rgb(77, 74, 120);
  margin:10px;
  box-sizing:border-box;
}

.square {
  background-color:lightblue;
  width:100px;
  height:100px;
  border:1px solid darkblue;
  margin:10px;
}

.relative {
  background-color:burlywood;
  position:relative;
  top:30px;
  left:30px;
}

.fixed {
  background-color:pink;
  position:fixed;
  top:0;
  right:0;
  margin:0;
}

.absolute {
  background-color:darkseagreen;
  position:absolute;
  bottom:5px;
  left:5px;
}

.container {
  background-color:darkkhaki;
  width:300px;
  height:300px;
  position:relative;
}

.sticky {
  background-color:darkslateblue;
  position:sticky;
  top:50px;
}

.smiley {
  background-color:darkseagreen;
  width:300px;
  height:300px;
  border:3px solid darkgreen;
  border-radius:100%;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

.eye {
  background-color:darksalmon;
  border:3px solid red;
  width:40px;
  height:40px;
  border-radius:100%;
  position:absolute;
  top:80px;
}

.left {
  left:80px;
}

.right {
  right:80px;
}

.mouth {
  background-color:deepskyblue;
  border:3px solid darkblue;
  width:200px;
  height:40px;
  border-radius:100%;
  position:absolute;
  bottom:60px;
  left:50px;
}

.hat {
  background-color:beige;
  border:3px solid brown;
  width:280px;
  height:100px;
  position:absolute;
  top:-50px;
  left:8px;
  border-radius: 100% 100% 0 0;
}