* {
    box-sizing: border-box;
}

body {
    margin:10px;
    background-color: azure;
    transition: background-color .5s;
}

.dark {
    background-color: darkgray;
}

.box {
    height:100vh;
    position:fixed;
    top:0;
    right:-300px;
    width:300px;
    border-left:1px solid;
    background-color:slategray;
    padding: 20px;
    font-size: 20px;
    transition: right .5s;
}

.active {
    right:0;
}

button {
    padding:10px;
    border:1px solid;
    cursor: pointer;
    transition: background .2s;
}

button:hover {
    background:pink;
}

button:active {
    background:white;
}

.obj {
    background-color:cornflowerblue;
    border:1px solid;
    width:100px;
    height:100px;
    position:absolute;
    bottom: 40px;
    left:40px;
    transition: transform 1s;
}

.spin {
    transform:rotate(360deg);
}