@font-face {
    font-family: 'ArkDes-Hershey';
    src: url('Arkdes-Hershey-17.woff2') format('woff2'),
        url('Arkdes-Hershey-17.woff') format('woff');
    font-weight:lighter;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ArkDes-Hershey';
    src: url('Arkdes-Hershey-26.woff2') format('woff2'),
        url('Arkdes-Hershey-26.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ArkDes-Hershey';
    src: url('Arkdes-Hershey-40.woff2') format('woff2'),
        url('Arkdes-Hershey-40.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('SourceSerifPro-Regular.woff2') format('woff2'),
        url('SourceSerifPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('SourceSerifPro-It.woff2') format('woff2'),
        url('SourceSerifPro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Selectric';
    src: url('SelectricRoman.woff2') format('woff2'),
        url('SelectricRoman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}