* {
  box-sizing: border-box;
}

body {
  margin:0;
}

.main-container {
  background:rgb(181, 169, 190);
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:1rem;
}

.hour {
  background:rgba(238, 229, 190, 0.29);
  height:50%;
  max-width:750px;
  width:100%;
  /* border-radius: 40% 40% 10px 10px; */
  border-radius: 10px 10px 40% 40%;
  display: flex;
  padding:1rem;
  flex-direction:row-reverse;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}

.bottom {
  transform: rotate(180deg);
}

.sand {
  height:30px;
  width:30px;
  border-radius:50%;
  background:rgba(168, 138, 88, 0.59);
}
