* {
  box-sizing: border-box;
}

body {
  font-size: 160%;
  margin:2rem;
  background:#3d4044;
  color:#d5e8ed;
}

img {
    max-width:100%;
}

main {
  max-width:700px;
  margin:0 auto;
}

h1, h2, h3 {
  text-align: center;
  font-family: 'ArkDes-Hershey';
  font-weight: lighter;
}

p {
  margin:0;
  text-indent: 50px;
  line-height: 140%;
  font-family: 'Selectric';
  font-size: 70%;
}