a {
  text-decoration: none;
  color:black;
}

.button {
  width:100px;
  height:100px;
  background:lightgreen;
  position: fixed;
  top:50%;
  transform: translateY(-50%);
  display:flex;
  justify-content: center;
  align-items: center;
  transition: background .3s ease;
}

.next {
  right:0;
}

.prev {
  left:0;
}

.button:hover {
  background: red;
}

.hover-button {
  display: inline;
}

.hover-img {
  position: absolute;
  top:0;
  right:0;
  display: none;
}

.hover-button:hover .hover-img {
  display:block;
}
