body {
    background-color:lightyellow;
    font-size:25px;
}

/* typography */
p {
    background-color:aquamarine;
    /* border is a shorthand property for border-width, border-style, border-color */
    border: 120px dashed green;
    text-align:right;

    /* 
        1 value: all sides

        2 values: 1st value = top/bottom, 2nd value = left/right
        
        4 values: 1st value = top, 2nd value = right, 3rd = bottom, 4th = left
    */

    padding: 10px 50px 70px 90px;
    margin: 50px 50px 50px 90px;
    line-height:10px;
}

h1 {
    color: #d48c3f;
    text-align:center;
    padding:20px;
}

/* we preface classes with . (periods) and ids with # (hashtags) */
.special {
    background-color:yellowgreen;
    font-size:50px;
    border-radius: 100%;
}

.center-text {
    text-align:center;
    padding:20px;
}