* {
  box-sizing: border-box;
}

.life {
  background:lightslategray;
  height:200px;
  width:200px;
  animation: life 1s infinite alternate;
}

@keyframes life {
  0% {
    background:lightslategray;
  }
  100% {
    background:pink;
  }
}