body {
  margin:0;
  padding:0;
}

p {
  color:red;
  background:green;
  /* background-image: url("dog.jpg"); */
  /* height:400px; */
  /* padding:20px;
  margin:30px; */
  font-size:16px;
  margin:0;
  /* width:200px; */
}

h1 {
  font-size:20px;
  background:yellow;
  margin:0;
  padding:20px 40px 0 5px;
  font-weight: normal;
  font-family:'times new roman', serif;
  font-style:italic;
  text-decoration: underline;
}

a {
  color:black;
  text-decoration: none;
}

a:hover {
  background:red;
}

img {
  max-width:100%;
  /* width:200px; */
  /* height:400px; */
}

.orange {
  background:orange;
}

.big {
  font-size: 90px;
}
