.container {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: stretch; */
  flex-wrap:wrap;
  height:400px;
  background:gray;
}

.box {
  width:400px;
  height:40px;
}

.red {
  background:red;
  display:flex;
}

.blue {
  background:blue;
}

.orange {
  background:orange;
}

.green {
  background:green;
}
