* {
  box-sizing:border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

button {
  background:rgb(212, 169, 114);
  font-size: 1.2rem;
}

button:hover {
  background:rgb(161, 130, 90);
}

button:active {
  background:red;
}

.box-styles {
  background:rgb(120, 162, 116);
  height:100vh;
  width:400px;
  position:fixed;
  top:0;
  right:-400px;
  padding:1.2rem;
  font-size: 1.2rem;
  transition:right .4s ease;
}

.active {
  right:0;
}
