* {
    box-sizing:border-box;
}

img {
    max-width:100%;
}

body {
    margin:0;
}

.container {
    background:lightblue;
    /* vh stands for viewport height */
    height:100vh;
    display:flex;
    flex-direction:column;
    padding:10px;
    gap:10px;
}

.top {
    /* background:#fffee0; */
    height:25%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    gap:10px;
}

.top-item {
    background:#e0fcff;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.bottom {
    /* background:#efd9cd; */
    height:75%;
    display:flex;
    gap:10px;
}

.left {
    background:#e0fcff;
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.left-item {
    background:lightblue;
    width: 20%;
    height: 20%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.right {
    /* background:#e4c5e1; */
    width:50%;
    display:flex;
    flex-direction: column;
    gap:10px;
}

.right-item {
    background:#e0fcff;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}